doctype
html
    head
        title= title
        script(src="/javascripts/oneone.js")
    body
        h2(style='color: green;')
            p Stage 1 - Template 1 of 1 (Understand)
        p Key facts & data:
        textarea(id='facts', rows='6', cols='150', placeholder='What are the main facts, figures, statistics, data points and background information of relevance here?')
        br
        br
        p Insights (Research/Observe):
        textarea(id='Insights', rows='6', cols='150', placeholder='List below anything you have researched or observed which may be useful in understanding the case? Consider environmental technology and business trends. Can you think of failure or success stories in this space?')
        br
        br
        p Challenges:
        p Breakdown the overall challenge into different problem areas (sub-challenges)
        table(id='mytable', width="400")
            tr
                td 1
                td:  input(type='text', id='1')
            tr
                td 2
                td:  input(type='text', id='2')
            tr
                td 3
                td:  input(type='text', id='3')
            tr
                td 4
                td:  input(type='text', id='4')
            tr
                td 5
                td:  input(type='text', id='5')
            tr
                td 6
                td:  input(type='text', id='6')
        br
        div
            a(href="/oneonepointthree", onclick="return prevFunction()", style="text-decoration: none") PREVIOUS
            br
            a(href="/twoonepointone", onclick="return nextFunction()", style="text-decoration: none") NEXT