doctype
html
	head
	body
		h2(style='color: green;')
			p Stage 1 - Template 1 of 1 (Understand)
		form(id='form', method="POST", action="/oneone")
			p Key facts & data:
			textarea(id='facts', rows='6', cols='150', placeholder='What are the main facts, figures, statistics, data points and background information of relevance here?')
			br
			br
			p Insights (Research/Observe):
			textarea(id='Insights', rows='6', cols='150', placeholder='List below anything you have researched or observed which may be useful in understanding the case? Consider environmental technology and business trends. Can you think of failure or success stories in this space?')
			br
			br
			p Challenges:
			textarea(id='Challenges', rows='6', cols='150', placeholder='Breakdown the overall challenge into different problem areas (sub-challenges)')
			br
			br
			input(type='submit', value='SAVE & CONTINUE')