doctype
html
    head
        title= title
    body
            p Insights (Research/Observe):
            form(id='form', method="POST", action="/oneonepointtwo")
                textarea(id='Insights', rows='6', cols='150', placeholder='List below anything you have researched or observed which may be useful in understanding the case? Consider environmental technology and business trends. Can you think of failure or success stories in this space?')
                br
                br
                input(type='submit', value='SAVE & CONTINUE')