doctype
html
    head
        title= title
    body
        p Challenges:
        p Breakdown the overall challenge into different problem areas (sub-challenges)
        form(id='form', method='POST', action='/oneonepointthree')    
            table(id='mytable', width="400")
                tr
                    td 1
                    td:  input(type='text', id='1')
                tr
                    td 2
                    td:  input(type='text', id='2')
                tr
                    td 3
                    td:  input(type='text', id='3')
                tr
                    td 4
                    td:  input(type='text', id='4')
                tr
                    td 5
                    td:  input(type='text', id='5')
                tr
                    td 6
                    td:  input(type='text', id='6')

            br
            br
            input(type='submit', value='SAVE & CONTINUE')