head
        title= title
    body
        h2(style='color: green;')
            p Stage 1 - Template 1 of 1 (Understand)
        form(id='form', method="POST", action="/oneonepointone")
            p Key facts & data:
            textarea(id='facts', rows='6', cols='150', placeholder='What are the main facts, figures, statistics, data points and background information of relevance here?')
            br
            br
            input(type='submit', value='SAVE & CONTINUE')