doctype
html
    head
    body
        h2(style='color: green;')
            p Stage 2 - Template 2 of 3 (Problem Selection)
        h3 Graph need to be added
        form(id='form', method="POST", action="/twotwo")
            input(type='submit', value='SAVE & CONTINUE')