doctype
html
	head
		
	body
		h1(style='color: red;')
			p Template 1 of 2 - Identify
		form(method="POST" action="/")
			p New Insights about your user:
			textarea#newInsights(rows='8', cols='100', placeholder='Data points from expert interviews and online research')
			br
			br
			p Users:
			textarea#users(rows='8', cols='100', placeholder='Based on the sub-challenges from previous stage - list the different user segments you\'ve identified')
			br
			br
			p Your main user segment:
			textarea#mainsegment(rows='1', cols='100', placeholder='Your main user segment', size="131" )
			br
			br
			p Problems:
			textarea#problems(rows='8', cols='100', placeholder='List all your user\'s problems - be very specific (when, how where)')
				