doctype
html
	head
	body
		h1(style='color: red;')
			p Template 3 of 3 - Problem Description
		form(method="POST" action="/")
			p User:
			textarea#user(rows='5', cols='100', placeholder='Describe your final user segment and why have you chosen to focus on this user')
			br
			br
			p Problem:
			textarea#problem(rows='5', cols='100', placeholder='Give a brief description of the core problem and make a list of other related sub-problems')
			br
			br
			p Problem Statement:
			textarea#pstatement(rows='5', cols='100', placeholder='Formulate one very precise sentence that summarizes exactly the problem you want to solve')
			br
			br
			input(type='button', value='NEXT')