doctype
html
    head
    body
        h2(style='color: green;')
            p Welcome to Business Model Innovator
        form(id='form', method="POST", action="/index")
            input(type='submit', value='Get Started')