doctype
html
    head
        title= title
    body
        h2(style='color: green;')
            p Welcome to Business Model Innovator
            a(href="/oneonepointone", style="text-decoration: none") GET STARTED