doctype
html
    head
        title= title
    script
        //$("#rollButton").click(function(){alert("sas");});
    body
        h2(style='color: green;')
            p Welcome to Business Model Innovator
        form(id='form', method="POST", action="/index")
            input(type='submit', value='Get Started')
        //input(type='button', id='rollButton', value='NEXT')